// custom styles

// Customized from normalize.styl
// 防止 <strong> 高度多出 2px
//---------------------------------------------


article b,
article strong,
article code {
    line-height: 100%;
}

// Customized from base.styl
//---------------------------------------------

body {
    text-rendering: geometricPrecision;
    +desktop-large() { font-size: $font-size-base; }
}

// Customized from post-title.styl
//---------------------------------------------

.posts-expand .post-title-link {
    color: $black-pure;
    border-bottom: 1px solid $white-pure;
    
    &:hover {
        border-bottom: 1px solid $red;
    }

    &::before {
        display: none;
        transition: none;
    }
    
    &:hover::before {
        display: none;
    }
}

.posts-expand .post-meta {
    color: $black-pure;
}



// Customized from Pisces/_sidebar.styl
//---------------------------------------------

.sidebar a {
    color: $black-pure;
    
    &:hover { color: $black-pure; }
}



// Customized from sidebar/sidebar-toc.styl
//---------------------------------------------
.post-toc ol {
    a {
        transition: none;
        border-bottom: none;
    }
}




// Customized from Pisces/_menu.styl
//---------------------------------------------

.menu .menu-item {
    a {
        &:hover {
            background: none;            
        }
    }
}

.menu-item-active a {
    background: none;

    &:after {
        background-color: $black-pure;
    }
}



// Customized from highlight/highlight.styl
//---------------------------------------------

.highlight {
    &::-webkit-scrollbar { width: 4px; background-color: none; }
    
    &::-webkit-scrollbar-track { background-color: none; }

    &::-webkit-scrollbar-thumb { background-color: $grey-light; }
    
    .line { height: 28px; }
}
