// Colors
// --------------------------------------------------

$black-pure = #000
$white-pure = #FFF 



// Scaffolding
// --------------------------------------------------

$text-color                   = $black-pure
$link-color                   = $black-pure
$link-hover-color             = $black-pure
$link-decoration-color        = $black-pure
$link-decoration-hover-color  = $red

$border-color                 = $grey-light

// Background
$body-bg-color                = $white-pure



// Typography
// --------------------------------------------------

// Font families
$font-family-chinese      = "Source Han Serif", "SimSun", "PingFang SC"

$font-family-base         = $font-family-chinese, serif
$font-family-base         = get_font_family('global'), $font-family-chinese, serif if get_font_family('global')

$font-family-logo         = $font-family-base
$font-family-logo         = get_font_family('logo'), $font-family-base if get_font_family('logo')

$font-family-headings     = $font-family-base
$font-family-headings     = get_font_family('headings'), $font-family-base if get_font_family('headings')

$font-family-posts        = $font-family-base
$font-family-posts        = get_font_family('posts'), $font-family-base if get_font_family('posts')

$font-family-monospace    = consolas, Menlo, $font-family-chinese, monospace
$font-family-monospace    = get_font_family('codes'), consolas, Menlo, $font-family-chinese, monospace if get_font_family('codes')

$font-family-icons        = 'FontAwesome'


// Font size
$font-size-base           = 18px
$font-size-small          = $font-size-base - 2px
$font-size-smaller        = $font-size-base - 4px
$font-size-large          = $font-size-base + 2px
$font-size-larger         = $font-size-base + 4px


// Headings font size
$font-size-headings-step    = 2px
$font-size-headings-base    = 26px
$font-size-headings-small   = $font-size-headings-base - $font-size-headings-step
$font-size-headings-smaller = $font-size-headings-small - $font-size-headings-step
$font-size-headings-large   = $font-size-headings-base + $font-size-headings-step
$font-size-headings-larger  = $font-size-headings-large + $font-size-headings-step



// Code & Code Blocks
// --------------------------------------------------
$code-foreground                = $black-pure
$code-background                = none



// Sidebar
// --------------------------------------------------
$sidebar-nav-color                = $black-pure
$sidebar-nav-hover-color          = $black-pure
$sidebar-highlight                = $black-pure

$site-author-image-border-width   = 0px

$site-author-name-color           = $black-pure

$site-state-item-name-color       = $black-pure

$toc-link-color                       = $black-pure
$toc-link-border-color                = $black-pure
$toc-link-hover-color                 = $black-pure
$toc-link-hover-border-color          = $black-pure
$toc-link-active-color                = $red
$toc-link-active-border-color         = $red
$toc-link-active-current-color        = $red
$toc-link-active-current-border-color = $red
